html,
body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#globe {
  width: 100%;
  height: 100%;
}

#loading-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: 0.5s opacity;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-overlay > h1 {
  margin: 0;
  padding: 0;
  font-size: 72px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: 0.5s transform;
}

#loading-overlay.hidden {
  opacity: 0;
}

#loading-overlay.hidden > h1 {
  transform: scale(1.5);
}

#hud {
  position: absolute;
  display: flex;
  top: 20px;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#hud p {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
}
